@{
    ViewBag.Title = "Espere unos segundos...";
}
<html>
<head>
    <META HTTP-EQUIV="REFRESH" CONTENT="5;URL=https://localhost:44316/ley/OpcionesGenerales">
</head>
<body>
    <center>
        <h2>Espere unos segundos mientras los redireccionamos al Inicio del Sitio</h2>
    </center>
</body>
</html>
