
@{
    ViewBag.Title = "Noticias";
}

<h2>Noticias</h2>

<link href="Site.css" rel="stylesheet">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Album example · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link href="Site.css" rel="stylesheet">
</head>

<br />
<div class="btn-info"><h3> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp NACIONALES</h3></div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Noticias CDN</strong>
                <h3 class="mb-0">Enterate de las últimas noticias</h3> <br /> <br /><br /><br /> <br />
                <a href="https://cdn.com.do/" class="stretched-link">VER NOTICIAS</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/noticdn.jpg" width="200" height="250" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Noticias SIN</strong>
                <h3 class="mb-0">Noticias en caliente</h3> <br /> <br /><br /><br /> <br />
                <a href="https://noticiassin.com/" class="stretched-link">VER NOTICIAS</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/notiSIN.jpg" width="200" height="250" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">TeleNoticiasRD</strong>
                <h3 class="mb-0">"Siempre cerca"</h3> <br /> <br /><br /><br /> <br />
                <a href="https://telesistema11.com.do/telenoticias" class="stretched-link">VER NOTICIAS</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/telenoticiasrd.jpg" width="200" height="250" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Noticias El Nacional</strong>
                <h3 class="mb-0">La voz de todos te trae las noticias</h3> <br /> <br /><br /><br /> <br />
                <a href="https://elnacional.com.do/" class="stretched-link">VER NOTICIAS</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/elnacional.jpg" width="200" height="250" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">NOTICIAS CDN</strong>
                <h3 class="mb-0">"Las cosas como son"</h3>  <br /> <br /><br /><br /> <br />
                <a href="https://elnuevodiario.com.do/" class="stretched-link">VER NOTICIAS</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/elnuevodiario.jpg" width="200" height="250" />
            </div>
        </div>
    </div>

</div>
<div class="btn-danger"><h3> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp INTERNACIONALES</h3></div>


<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-danger">NOTICIAS AZ MUNDO</strong>
                <h3 class="mb-0">Televisión Azteca - origen mexicano</h3> <br /> <br /><br /><br /> <br />
                <a href="https://mi.tv/co/canales/az-mundo-hd" class="stretched-link">VER NOTICIAS</a>
            </div>
            <div class="col-auto d-none d-lg-block">

                <img src="~/interazm.png" width="150" height="250" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-danger">BBC NEWS</strong>
                <h3 class="mb-0">British Broadcasting Corporation NEWS</h3> <br /> <br /><br /><br /> <br />
                <a href="https://www.bbc.com/news" class="stretched-link">VER NOTICIAS</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/interbbc.jpg" width="150" height="250" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-danger">CNN BREAKING NEWS</strong>
                <h3 class="mb-0">Cobertura especial o flash de noticias </h3> <br /> <br /><br /><br /> <br />
                <a href="https://edition.cnn.com/" class="stretched-link">VER NOTICIAS</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/intercnn.jpg" width="150" height="250" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-danger">FOX NEWS</strong>
                <h3 class="mb-0">canal de noticias estadounidense, propiedad de Fox Corporation.</h3> <br /> <br /><br /><br /> <br />
                <a href="https://www.foxnews.com/" class="stretched-link">VER NOTICIAS</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/interfoxnew.jpg" width="150" height="250" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-danger">NOTICIAS TELEMUNDO</strong>
                <h3 class="mb-0"> Los reportajes y el análisis de las noticias más importantes de Estados Unidos, América Latina y el mundo</h3> <br /> <br /><br /><br /> <br />
                <a href="https://www.telemundo.com/noticias" class="stretched-link">VER NOTICIAS</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/intertelemundo.jpg" width="150" height="250" />
            </div>
        </div>
    </div>
</div>




