
@{
    ViewBag.Title = "OpcionesGenerales";
}

<link href="Site.css" rel="stylesheet">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Album example · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link href="Site.css" rel="stylesheet">
</head>


<div class="row">
    &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <a href="/Ley/AcercaDe" class="btn btn-danger">Acerca De 💡 </a>
</div>

<h2>Que desea realizar</h2>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/curri.jpg" width="100%" height="225" />
                    <div class="card-body">
                        <h4>Formulario Empleo</h4>
                        <p class="card-text">Este es un instrumento empresarial utilizado en la selección de personal que se puede plasmar en forma de ficha de datos.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/Ley/Formulario" class="btn btn-info">Realiza tu formulario</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/conversor.jpg" width="100%" height="225" />
                    <div class="card-body">
                        <h4>Conversor de unidades</h4>
                        <p class="card-text">Permite transformar el valor numérico de una magnitud física, expresado en una cierta unidad de medida, en otro valor numérico.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/Juancho/Conversor" class="btn btn-warning">Convertir unidades</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/xlslogo.jpg" width="100%" height="225" />
                    <div class="card-body">
                        <h4>Archivo XLS</h4>
                        <p class="card-text">extensión para los archivos de hoja de cálculo utilizados en la aplicación Microsoft Excel. También es posible incluir gráficos.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/Juancho/CargaExcel" class="btn btn-success">Realizar XLS</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div>    <h2>Contenido</h2>       </div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Noticias</strong>
                <h3 class="mb-0">Enterate de las últimas noticias</h3>
                <div class="mb-1 text-muted">2020</div>
                <p class="card-text mb-auto">Enterate de lo que tenemos para ti, nuestros canales de noticias, de ultimo minuto al instante</p>
                <a href="/Ley/Noticias" class="stretched-link">VER NOTICIAS</a>
            </div>
            <div class="col-auto d-none d-lg-block">

                <img src="~/Noticias1.jpg" width="150" height="250" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Musicales</strong>
                <h3 class="mb-0">Ponte en el nuevo ritmo</h3>
                <div class="mb-1 text-muted">2020</div>
                <p class="mb-auto">Ponte en sintonía con las nuevas canciones y pistas musicales del momento.</p>
                <a href="/Ley/Musica" class="stretched-link">VER MUSICALES</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/musica1.jpg" width="150" height="250" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Peliculas</strong>
                <h3 class="mb-0">Ultimos estrenos</h3>
                <div class="mb-1 text-muted">2020</div>
                <p class="card-text mb-auto">Te presentamos los trailers de las mejores peliculas del momento, entra aquí y descubrelos.</p>
                <a href="/Ley/Peliculas" class="stretched-link">VER TRAILER</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/pelicula.jpg" width="150" height="250" />
            </div>
        </div>
    </div>
</div>




