
@{
    ViewBag.Title = "Conversor";
}

<h2>Conversor</h2>

<div class="conversor">
    <div class="center">
        <select id="categoryBox"></select>
        <select id="input"></select>
        <select id="output"></select>
        <div class="row">
            <input type="text" id="inputText" />
            <input type="text" id="outputText" />
        </div>
    </div>
</div>

